@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

header{
    display: flex;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

header img{
    width: 85px;
}
.navBar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin: 0px 25px;
    color: black;
    cursor: pointer;
}

.telBtn a{
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 1em 2em;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    margin: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
}

.telBtn svg{
    width: 1.1em;
    margin-right: 0.2em;
}

.telBtn{
    transition: .5s;
}

.telBtn a{
    transition: .5s;
    display: flex;
    align-items: center;
}

.telBtn:hover{
    transform: scale(1.05);
}

.telBtn a:hover{
    background-color: #6DE87D;
    color: white;
    fill: #FFFFFF;
}

main{
    height: 85vh;   
}

main img{
    height: 85vh;
    width: 100%;
    opacity: 80%;
    filter: brightness(40%);
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.mainContent{
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn{
    from {right: 120vw;}

    to {right: 0}
}

.mainContent h1{
    font-family: "Anuphan", sans-serif;
    font-size: 75px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    right: 120vw;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.mainContent h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
    position: relative;
    right: 120vw;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.mainContent hr{
    width: 400px;
    height: 3px;
    background-color: white;
    border: none;
    margin: 10px 0px;
    position: relative;
    right: 120vw;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.mainContent a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 1em 2em;
    background-color: #6DE87D;
    color: white;
    border-radius: 5px;
    margin-top: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    right: 120vw;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.mainContent a:hover{
    transform: scale(1.1);
    background-color: #4BC160;
}

.moreInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #546E58;
    text-align: center;
}

.moreInfo h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin: 0px 20px;
}

.sobreNosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-left:7vw;
    margin-right: 7vw;
    margin-bottom: 50px;
}

.sobreNos{
    flex: 50%;
}

.sobreNos h2{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    border-bottom: solid 3px black;
    width: fit-content;
}

.sobreNos p{
    color: #7a7a7a;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 3vw;
}

.sobreNosImg{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreNosImg img{
    width: 30vw;
    height: auto;
}

.servicosContainer{
    background-color: #c8f1d470;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicosContainer h2{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    border-bottom: solid 3px black;
    width: fit-content;
    margin-top: 20px;
}

.servicosCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    width: 80vw;
    margin-bottom: 20px;
}

.servicosCard{
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.servicosCard h3{
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.servicosCard p{
    font-family: "roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #7a7a7a;
    margin-top: 20px;
}

.servicosCard img{
    width: 50px;
    margin-bottom: 20px;
}

.servicosContainer a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 1em 2em;
    background-color: #6DE87D;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
    text-align: center;
    margin-bottom: 30px;
}

.servicosContainer a:hover{
    transform: scale(1.1);
    background-color: #4BC160;
}

.clientesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-x: hidden;
}

.clientesContainer h2{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    border-bottom: solid 3px black;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
}

.clientesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.clientesLogo{
    margin: 30px;
}

.clientesLogo img{
    width: 150px;
    height: auto;
}

.galeriaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.galeriaContainer h2{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    border-bottom: solid 3px black;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.galeria img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition-duration: .5s;
}

.galeria img:hover{
    transform: scale(1.2);
}

.porqueContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
}

.porqueContainer::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/imgs/background2.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 80%;
    filter: brightness(40%);
}

.porqueContainer img{
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 80%;
    filter: brightness(40%);
    position: relative;
}

.porqueContainer h2{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    border-bottom: solid 3px white;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.porqueCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 95%;
    gap: 20px;
    margin-top: 20px;
    bottom: 30px;
}

.porqueCard{
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: white;
}

.porqueCard h3{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.porqueCard img{
    width: 70px;
    height: auto;
    margin-bottom: 20px;
    opacity: 100%;
    filter: brightness(100%);
}

.porqueCard p{
    font-family: "roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #7a7a7a;
    margin-top: 20px;
}

.contatoContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.contato{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.contatoFormContainer{
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    padding: 35px;
    width: 45%;
}

.contatoContainer h2{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    border-bottom: solid 3px black;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
}

.contato h3{
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contatoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contatoForm input, textarea{
    margin: 10px 0px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    outline: none;
    transition: .3s;
    width: 100%;
}

.contatoForm textarea{
    height: 160px;
    resize: none;
}

.contatoForm ::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.contatoForm :focus{
    border: 3px solid #6DE87D;
    box-shadow: 1px 1px 3px #6DE87D;
}

.contatoForm button{
    width: 40%;
    margin-top: 20px;
    padding: 1em 1em;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #6DE87D;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .5s;
    cursor: pointer;
}

.contatoForm button:hover{
    background-color: #4BC160;
}

.contatoInfoContainer{
    border: solid 30x black;
    width: 45%;
    position: relative;
}

.contatoInfoCard{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.contatoInfoCard img{
    width: 80px;
}

.contatoInfoCard h3{
    font-size: 35px;
    margin-top: 30px;
    font-weight: 500;
}

.relacionadosContainer{
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.relacionadosContainer.noAnimation{
    scroll-behavior: auto;
}

.relacionados{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/3);
    margin-top: 30px;
    max-width: 100vw;
    place-items: center;
}

.relacionados .img img{
    width: 120px;
    scroll-snap-align: center;
}

.arrowContainer{
    position: relative;
}

.arrowContainer .arrow{
    position: absolute;
    width: 25px;
    cursor: pointer;
    z-index: 99;
}

#arrowRight{
    top: 50%;
    right: 0;
}

#arrowLeft{
    top: 50%;
    left: 0;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    background-color: #c8f1d470;
    height: 110px;
}

footer img{
    width: 100px;
}

.footerSocialIcons{
    display: flex;
    justify-content: space-between;
}

.footerSocialIcons a{
    display: flex;
    justify-content: space-between;
}

.footerSocialIcons a{
    cursor: pointer;
    background-color: #6DE87D;
    width: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition: .5s;
    margin: 0 15px;
    border-radius: 50%;
}

.footerSocialIcons img{
    width: 50px;
    padding: 0.65em;
}

.footerSocialIcons a:hover{
    background-color: #4BC160;
}

.footerUpIcon img{
    width: 65px;
    padding: 1em;
    background-color: #6DE87D;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.footerUpIcon img:hover{
    background-color: #4BC160;
    transform: rotate(360deg)
}









/* Media Querys */

@media (max-width: 480px){
    header img{
        width: 90px;
    }
    .navBar{
        display: none;
    }
    .telBtn a{
        font-size: 3vw;
        background-color: #6DE87D;
        color: white;
        fill: white;
    }
    main{
        height: 400px;
    }
    main img{
        height: 400px;
    }
    .mainContent h1{
        font-size: 12vw;
        margin: 3vw 3vw;
    }
    .mainContent h2{
        font-size: 5vw;
        margin: 0px 3vw;
    }
    .mainContent hr{
        width: 40vw;
    }
    .mainContent a{
        font-size: 3.8vw;
    }
    .moreInfo h2{
        font-size: 20px;
    }
    .sobreNosImg{
        display: none;
    }
    .sobreNos h2{
        font-size: 50px;
    }
    .sobreNos p{
        font-size: 28px;
        margin-top: 20px;
    }
    .servicosContainer h2{
        font-size: 50px;
        margin-bottom: 50px;
    }
    .servicosCards{
        margin-bottom: 0px;
        margin-top: 0px
    }
    .servicosCard{
        margin-bottom: 50px;
    }
    .servicosCard h3{
        font-size: 35px;
    }
    .servicosCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 90vw;
    }
    .servicosContainer a{
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .clientesContainer h2{
        font-size: 45px;
    }
    .clientesGrid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        overflow: hidden;
    }
    .clientesLogo{
        margin: 15px;
    }
    .clientesLogo img{
        width: 80px;
    }
    #ultimaLogo{
        display: none;
    }
    .galeriaContainer h2{
        font-size: 45px;
    }
    .galeriaContainer{
        gap: 10px;
    }
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .galeria img{
        width: 140px;
        height: 140px;
    }
    .porqueContainer img{
        height: 1370px;
    }
    .porqueContainer h2{
        font-size: 45px;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .porqueCards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 95%;
    }
    .porqueCard h3{
        font-size: 30px;
    }
    .porqueCard p{
        font-size: 15px
    }
    .contato{
        flex-direction: column;
    }
    .contatoFormContainer{
        width: 90%;
    }
    .contatoContainer h2{
        font-size: 45px;
    }
    .contatoFormContainer h3{
        font-size: 35px;
        margin-top: 15px;
    }
    .contatoFormContainer button{
        width: 70%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .contatoFormContainer{
        padding: 15px;
    }
    .contatoInfoContainer{
        width: 90%;
        margin-top: 60px;
    }
    .contatoInfoCard h3{
        font-size: 28px;
    }
    .relacionadosContainer{
        justify-content: center;
        align-items: center;
        justify-self: center;
    }
    .relacionados{
        grid-auto-columns: 100%;
    }
    .relacionados .img img{
        width: 150px;
    }
    .footerSocialIcons{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    header{
        justify-content: space-around;
    }
    .navBar{
        display: none;
    }
    .telBtn a{
        font-size: 16px;
        background-color: #6DE87D;
        color: white;
        fill: white;
    }
    main{
        height: 500px;
    }
    main img{
        height: 500px;
    }
    .mainContent h1{
        font-size: 10vw;
        margin: 3vw 3vw;
    }
    .mainContent h2{
        font-size: 4.5vw;
        margin: 0 3vw;
    }
    .mainContent hr{
        width: 40vw;
    }
    .mainContent a{
        font-size: 3vw;
    }
    .moreInfo h2{
        font-size: 25px;
    }
    .sobreNosImg{
        display: none;
    }
    .sobreNos h2{
        font-size: 50px;
    }
    .sobreNos p{
        font-size: 30px;
        margin-top: 20px;
    }
    .servicosCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .servicosContainer a{
        font-size: 18px;
    }
    .clientesContainer h2{
        font-size: 50px;
    }
    .clientesGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .clientesLogo{
        margin: 15px;
    }
    .clientesLogo img{
        width: 70px;
    }
    .galeriaContainer h2{
        font-size: 50px;
    }
    .galeria img{
        width: 140px;
        height: 140px;
    }
    
    .porqueContainer h2{
        font-size: 50px;
        border: none;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: 30px;
        top: 25px;
    }
    .porqueCards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 70%;
    }
    .porqueCard h3{
        font-size: 35px;
    }
    .porqueCard p{
        font-size: 20px
    }
    .contato{
        flex-direction: column;
    }
    .contatoFormContainer{
        width: 80%;
    }
    .contatoInfoContainer{
        width: 80%;
        margin-top: 60px;
    }
    .contatoInfoCard h3{
        font-size: 30px;
    }
    .relacionados{
        grid-auto-columns: calc(100%/2);
    }
    .relacionados .img img{
        width: 150px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
        .navBar a{
            margin: 0px 12px;
        }
        .telBtn a{
            font-size: 18px;
        }
        .mainContent h1{
            font-size: 55px;
        }
        .mainContent h2{
            margin: 0 3vw;
        }
        .servicosCards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        .clientesLogo{
            margin: 15px;
        }
        .clientesLogo img{
            width: 100px;
        }
        .galeriaContainer{
            gap: 10px;
        }
        .galeria img{
            width: 200px;
            height: 200px;
        }
        .porqueContainer{
            height: 850px;
        }
        .porqueContainer img{
            height: 850px;
        }
        .porqueCards{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 80%;
        }
        .porqueCard h3{
            font-size: 30px;
        }
        .contato{
            flex-direction: column;
        }
        .contatoFormContainer{
            width: 75%;
        }
        .contatoInfoContainer{
            width: 75%;
            margin-top: 60px;
        }
        .contatoInfoCard h3{
            font-size: 30px;
        }
        .relacionados .img img{
            width: 120px;
        }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .servicosCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .clientesLogo img{
        width: 120px;
    }
    .porqueCards{
        width: 95%;
    }
    .porqueCard h3{
        font-size: 32px;
    }
}

@media (min-width: 1201px){
    .navBar a{
        margin: 0px 40px;
    }
    .mainContent h1{
        font-size: 80px;
    }
    .mainContent h2{
        font-size: 30px;
    }
    .mainContent a{
        font-size: 22px;
    }
    .moreInfo h2{
        font-size: 35px;
    }
    .sobreNos h2{
        font-size: 75px;
    }
    .sobreNos p{
        font-size: 30px;
    }
    .servicosContainer h2{
        font-size: 75px;
    }
    .servicosContainer a{
        font-size: 23px;
    }
    .clientesContainer h2{
        font-size: 75px;
    }
    .galeriaContainer h2{
        font-size: 75px;
    }
    .porqueContainer h2{
        font-size: 75px;
    }
}